body {
    background: #f3f5f7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    overflow: hidden;
}
.error-message{
    width: 85%;
    padding: 5px 0;
    background-color: rgba(255, 0, 0, 0.26);
    display: block;
    margin: auto;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    color: red;
    border: 1px solid red;
}

.login-header {
    background: url('/images/login-top.jpg') no-repeat center;
    background-size: cover;
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.login-form {
    padding: 30px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #473af0;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn:hover {
    background-color: #3812c4;
}
