{% extends 'base.html.twig' %}

{% block title %}Edit OrigineValide{% endblock %}

{% block body %}
<div class="entete">
    <h1></h1>

    {{ include('origine_valide/_form.html.twig', {'button_label': 'Modifier','button_title' :"Modifier l'evolution des indices origine"}) }}


</div>
{% endblock %}
