{% extends 'base.html.twig' %}

{% block title %}New OrigineValide{% endblock %}

{% block body %}
<div class="entete">
    <h1></h1>
    {{ include('origine_valide/_form.html.twig') }} 
</div>

{% endblock %}
