{% extends 'base.html.twig' %}

{% block title %}Edit SecteurValide{% endblock %}

{% block body %}
<div class="entete">
    <h4>Edit SecteurValide</h4>

    {{ include('secteur_valide/_form.html.twig', {'button_label': 'Modifier', 'button_title' :"Modifier l'evolution d'indice secteur"}) }}
</div>
{% endblock %}
