{% extends 'base.html.twig' %}

{% block title %}Edit FonctionValide{% endblock %}

{% block body %}
<div>
    <h1>Modifier</h1>

    {{ include('fonction_valide/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>
  
{% endblock %}
